@@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}
li{
  list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
select{
  border: 1px solid #000;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background:url(images/三角.png)no-repeat scroll right center transparent;
  padding-right: 14px;
}
select::-ms-expand{display: none;}
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
a,form,address,article,aside,b,caption,cite,code,dd,del,details,div,dl,dt,em,
fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,i,input,
legend,li, nav,ol,p,pre,section,select,span,strong,summary,table,tbody,td,
textarea,tfoot,th,thead,ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  word-wrap: break-word;
  outline: 0;
}
textarea {
    resize: none;
}


@media screen and (max-width:1330px) {
  body {
    width: 1300px;
  }
}
/* the style of nav */
.nav{
  float: left;
  width: 240px;
  height: 1000px;
  margin-top: 80px;
  background:-webkit-linear-gradient(left,rgb(96,194,255),rgb(72,136,253));
  position: relative;
}
.nav ul{
  position: absolute;
  margin-left: 40px;
  width: 240px;
  height: 36px;
  padding-top: 46px;
}
.nav li{
  padding-top:37px;
  cursor: pointer;
}
.nav a{
  position: absolute;
  padding-left: 24px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

/* the style of nav*/

/* the style of head*/
.header{
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
  background: url(images/矩形8.png) no-repeat;
}
.img1{
  width: 124px;
  height: 32px;
  position: absolute;
  z-index: 11;
  left: 58px;
  right: 58px;
  top: 24px;
}
.search{
  width: 501px;
  height: 37px;
  position: absolute;
}
.search .text{
  position: absolute;
  top: 21px;
  left: 709px;
  right: 710px;
  width: 453px;
  height: 37px;
  bottom: 22px;
  color: #8B8B8B;
  border-radius: 25px;
  border: 1px solid #8B8B8B;
  text-align: center;
}
.search .btn{
  position: absolute;
  width:23px;
  height: 23px;
  left: 1122px;
  top: 29px;
  bottom: 28px;
  right: 735px;
  background: url(images/搜索.png) no-repeat;
}
.header-r{
  float: right;
  width: 450px;
  height: 80px;
}
.header-r-r{
  float: right;
  display: inline-block;
  width: 100px;
  text-decoration: none;
}
.header-logout{
  position: relative;
  left: 10px;
  top: 27px;
}
.header-r-r .header-logout-font{
  position: relative;
  left: 15px;
  top:20px;
}
.header span{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 31px;
  margin-right: 20px;
}

/* the style of head*/


/*the style of main*/
.main{
  width: 1642px;
  height: 50px;
  margin-left: 258px;
  background-color: rgb(245, 245, 250);
}
.main li{
  float: left;
  padding-left: 40px;
}
.main a{
  text-decoration: none;
  width: 90px;
  height: 22px;
  font-size: 22px;
  color: #8B8B8B;
}
.main a:hover{
  color: #0493FD;
}

/*the style of main*/

/*the style of footer*/
.footer{
  width: 1642px;
  height: 890px;
  margin-left: 258px;
  background-color: rgb(245, 245, 250);
  overflow: auto;
  position: absolute;
}
.footer-in1{
  width: 160px;
  height: 30px;
  margin-left: 8px;
  vertical-align: text-top;
  margin-top: 25px;
  border: 1px solid #8B8B8B;
}
.footer-in2{
  width: 160px;
  height: 30px;
  margin-left: 8px;
  vertical-align: text-top;
  margin-top: 25px;
  border: 1px solid #8B8B8B;
}
.footer-in3{
  width: 160px;
  height: 30px;
  margin-left: 8px;
  vertical-align: text-top;
  margin-top: 25px;
  color: #8B8B8B;
  border: 1px solid #8B8B8B;
}
.footer-in4{
  width: 160px;
  height: 30px;
  margin-left: 8px;
  vertical-align: text-top;
  margin-top: 25px;
  border: 1px solid #8B8B8B;
}
.footer-in5{
  width: 160px;
  height: 30px;
  margin-left: 1170px;
  vertical-align: text-top;
  margin-top: -38px;
  border: 1px solid #8B8B8B;
}
.footer-span1{
  width: 87px;
  height: 20px;
  position: relative;
  margin-left: 42px;
  font-size: 20px;
  color: #8B8B8B;
  top: 30px;
}
.footer-span2{
  width: 87px;
  height: 20px;
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  color: #8B8B8B;
  top: 30px;
}
.footer-span3{
  width: 87px;
  height: 20px;
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  color: #8B8B8B;
  top: 30px;
}
.footer-span4{
  width: 87px;
  height: 20px;
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  color: #8B8B8B;
  top: 30px;
}
.footer-p1{
  width: 13px;
  height: 5px;
  position: relative;
  margin-left: 1120px;
  top: -25px;
}
.footer-in6{
  position: relative;
  width: 81px;
  height: 35px;
  top: -36px;
  margin-left: 30px;
  font-size: 20px;
  background-color: rgb(5, 143, 222);
  color: #fff;
  cursor: pointer;
}
.footer-in7{
  position: relative;
  width: 81px;
  height: 35px;
  top: -36px;
  margin-left: 30px;
  font-size: 20px;
  background-color: rgb(5, 143, 222);
  color: #fff;
  cursor: pointer;
}
table{
  table-layout: fixed;
  width: 1642px;
}
.thead-t th{
  font-size: 20px;
  width: 200px;
  height: 51px;
  color: #fff;
  background-color: rgb(87, 172, 254);
}
.thead-t tbody,td{
  font-size: 20px;
  width: 100px;
  height: 19px;
  color: #3A3A3A;
  padding-top: 30px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}
.btn1{
  float: left;
  width: 60px;
  height: 30px;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(87, 172, 254);
}
.btn1:hover{
  cursor: pointer;
}

/*the style of footer*/



/*项目概括部分style*/
/* the style of content*/

.content{
  width: 1642px;
  height: 380px;
  margin-left: 258px;
}
.content-in1{
  float: left;
  width: 280px;
  height: 40px;
  position: relative;
  left: 20px;
  top: 20px;
  padding-left: 20px;
  border-radius: 20px;
  font-size: 18px;
  color: #D5D5D5;
  border: 1px solid rgb(237, 237, 237);
}
.content img{
  float: left;
  position: relative;
  left: -20px;
  top: 28px;
}
.content-span1{
  font-size: 22px;
  color: #626262;
  width: 50px;
  height: 20px;
  position: relative;
  margin-left: 250px;
  top: 50px;
}
.content-se1{
  font-size: 22px;
  color: #626262;
  width: 180px;
  height: 35px;
  position: relative;
  margin-left: 6px;
  top: 44px;
}
.content-lf{
  float: left;
  width: 540px;
  height: 240px;
  left: 38px;
  position: relative;
}
.content-lf-span1{
  width: 100px;
  height: 24px;
  margin-left: 22px;
  position: relative;
  top: 20px;
  font-size: 24px;
  color: #2FA3E6;
}
.content-lf1{
  width: 177px;
  height: 138px;
  margin-left: 34px;
  margin-top: 49px;
}
.content-lf li{
  padding-top: 10px;
  font-size: 22px;
  color: #8B8B8B;
}
.content-lf2{
  width: 268px;
  height: 138px;
  margin-left: 246px;
  margin-top: -138px;
}
.content-mid{
  float: left;
  width: 580px;
  height: 240px;
  position: relative;
  margin-left: 50px;
}
.content-mid-span1{
  width: 100px;
  height: 24px;
  margin-left: 22px;
  position: relative;
  top: 20px;
  font-size: 24px;
  color: #2FA3E6;
}
.table1{
  width: 580px;
  height: 22px;
  margin-top: 46px;
}
.table1 th{
  width: 120px;
  height: 22px;
  font-size: 22px;
  color: #8B8B8B;
}
.table1 td{
  width: 75px;
  height: 32px;
  font-size: 42px;
  border-style: none;
  color: #FB595C;
}
.content-rt{
  float: right;
  width: 400px;
  height: 240px;
  position: relative;
  margin-right: 41px;
  top: -22px;
}
.content-rt-span1{
  width: 100px;
  height: 24px;
  margin-left: 22px;
  position: relative;
  top: 20px;
  font-size: 24px;
  color: #2FA3E6;
}
.table2{
  width: 400px;
  height: 22px;
  margin-top: 46px;
}
.table2 th{
  width: 100px;
  height: 42px;
  font-size: 42px;
  color: #2FA3E6;
}
.table2 img{
  width: 26px;
  height: 46px;
  float: right;
  left: -50px;
}
.table2 td{
  width: 52px;
  height: 25px;
  font-size: 26px;
  border-style: none;
  color:#2FA3E6;
}
.label1{
  font-size: 22px;
  color: #626262;
  width: 50px;
  height: 20px;
  position: relative;
  margin-left: 550px;
  top: 10px;
}
#startDate{
  width: 140px;
  height: 35px;
  text-align: center;
  position: relative;
  top: 6px;
  border: 1px solid #8B8B8B;
}
.content-p1{
  width: 15px;
  height: 5px;
  font-size: 26px;
  margin-left: 1060px;
  position: relative;
  top: -30px;
}
#endDate{
  width: 140px;
  height: 35px;
  text-align: center;
  position: relative;
  top: -34px;
  margin-left: 1100px;
  border: 1px solid #8B8B8B;
}
.content-in2{
  width: 80px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 160px;
  margin-top: -134px;
  color: #fff;
  background-color: rgb(5, 143, 222);
}
.content-in3{
  width: 100px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -134px;
  margin-left: 60px;
  color: #fff;
  background-color: rgb(5, 143, 222);
}
/* the style of content*/


/* the style of bottom*/

.bottom{
  width: 1642px;
  height: 510px;
  margin-left: 258px;
}
.bottom-span1{
  width: 94px;
  height: 24px;
  margin-left: 21px;
  position: relative;
  top: 20px;
  font-size: 24px;
  color: #2FA3E6;
}
.bottom-lf{
  float: left;
  width: 600px;
  height: 340px;
  margin-top: 70px;
  margin-left: 20px;
  position: relative;
  top: -76px;
}
.bottom-rt{
  float: left;
  width: 950px;
  height: 340px;
  position: relative;
  margin-left: 30px;
  top: -76px;
}
#startDate1{
  width: 140px;
  height: 35px;
  text-align: center;
  position: relative;
  top: -29px;
  margin-left: 1050px;
  border: 1px solid #8B8B8B;
}
.content-p2{
  width: 15px;
  height: 5px;
  font-size: 26px;
  margin-left: 1210px;
  position: relative;
  top: -65px;
}
#endDate1{
  width: 140px;
  height: 35px;
  text-align: center;
  position: relative;
  top: -70px;
  margin-left: 1250px;
  border: 1px solid #8B8B8B;
}
.label2{
  font-size: 22px;
  color: #626262;
  width: 50px;
  height: 20px;
  position: relative;
  margin-left: 970px;
}
.button-in1{
  width: 80px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 1460px;
  margin-top: -205px;
  color: #fff;
  background-color: rgb(5, 143, 222);
}
.bottom-p1{
  width: 50;
  height: 20px;
  font-size: 22px;
  color: #626262;
  position: relative;
  margin-left: 390px;
  top: -50px;
}
.bottom-se{
  width: 120px;
  height: 35px;
  position: relative;
  margin-left: -150px;
  top: -75px;
}
.bottom-se1{
  width: 120px;
  height: 35px;
  position: relative;
  margin-left: -130px;
  top: -120px;
}
.bottom-p2{
  width: 50;
  height: 20px;
  font-size: 22px;
  color: #626262;
  position: relative;
  margin-left: 1400px;
  top: -100px;
}
/* the style of bottom*/
